.container {padding: 20px 0 0 0}
.hero-unit{background: #FFF;padding: 0}
.page-header{clear: both; }
.carousel-inner img{height: 300px; width: 100%}
#printBtn,#downBtn{width: 100%;margin: 10px 0 0 0 }
footer{text-align: center}
.twitter{background-image: url(../img/twitter.png);background-position: 0px 0px;}
.github{background-image: url(../img/github.png);background-position: 0px 0px;}
.blog-link{margin: 10px 0 0;width: 100%;}
.blog-link-img{background-image: url(../img/wordpress.png);background-position: 0px 0px;}

